.rrcodex{
    float: left;
    display: block;
    width: 100%;
    background-color: #dae3d9;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px;
    
}
.rrcodex .table-rrcodex{
    float: left;
    width: 100%;
    border: none;
    padding: 0px;    
    margin: 0px;
    color: #006505; 
    
}
.rrcodex .table-rrcodex tr{
    background-color: #e7e7e5;
}
.rrcodex .table-rrcodex tr:nth-child(2n+1){
    background-color: #f5f5f1;
}
.rrcodex .table-rrcodex td{
    padding: 5px 10px;
    color: #363b3f;
 
}
.rrcodex .table-rrcodex td.ind{
    max-width: 10px;
    text-align: center;
    border-right: 5px solid #FFBA00;
}

.rrcodex .codephp{
    color: #2B6FB6;
    font-weight: bold;
}
.rrcodex .codephp-var{
    color: #006505;
    font-weight: bold;
}
.rrcodex .codephp-for{
    color: #404040;
    font-weight: bold;
}
.rrcodex .codephp-func{
    color: #07526c;
    font-weight: bold;
}
.rrcodex .codephp-echo{
    color: #A7301F;
    font-weight: bold;
}
.rrcodex .codephp-return{
    color: #000000;
    font-weight: bold;
}







